#!/usr/bin/make -f

# Install in debian/tmp to retain control through dh_install:
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_auto_configure:
	dh_auto_configure --buildsystem=meson

%:
	dh $@ --builddirectory=build/